In [33]:
#write a statement to print "hello world" by using shell
print("Hello world")

Hello world

In [34]:
#was to intialize variable and value as 50
a=50
print(a)

50

In [35]:
#was to intialize multi variables are 150,200,250(take your own variables)
a,b,c=150,200,250
print(a,b,c)

150 200 250

In [36]:
#was to print the type of the data
a=10
b=12.15
c=2+4j
d=b'1010'
e=True
f='10,20,a,b'
g=[1,2,3,4,5]
h=(100,200,300)
i={10,30,50}
j={'a':100,'10':200}
print(a,b,c,d,e,f,g,h,i,j)

10 12.15 (2+4j) b'1010' True 10,20,a,b [1, 2, 3, 4, 5] (100, 200, 300) {10, 50, 30} {'a': 100, '10': 200}

In [37]:
#was to print the address of the memory blockin given value
t=40
id(t)

140713506367496

In [38]:
#was to print your details,first store your details,extract the values and display it

a=[10,20,30]
print(a)

[10, 20, 30]

In [39]:
##was to swap the two values
a=10
b=20
temp=a
a=b
b=temp
print(a,b)

20 10

In [40]:
##was to swap the two values without using temp
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [41]:
#was to convert single to multiple value data type
a=10
a=str(a)
print(a)
a=list(a)
print(a)

10
['1', '0']

In [1]:
#was to intialize value and print value,after print the value,yhen reintialize the new value to the existing var & display the value
a=10
print(a)
a=20
print(a)

10
20

In [3]:
#was to concat the two multi values data type(str,list,tuple,set.dict)
s='hello'
s+='world'
print(s)
l=[10,20,30]
l+=[50,60,70]
print(l)
t=(100,200,300)
t+=(400,600,800)
print(t)
s={1,2,3,4}
s|={5,6,7}
print(s)
d={10:20,30:40}
d|={'a':'b','c':'d'}
print(d)

helloworld
[10, 20, 30, 50, 60, 70]
(100, 200, 300, 400, 600, 800)
{1, 2, 3, 4, 5, 6, 7}
{10: 20, 30: 40, 'a': 'b', 'c': 'd'}

In [5]:
#was to check the length of collection
x={10:20,'a':'xyz','b':100}
len(x)

3

In [11]:
#wae to check the find out the middle value of the given collection
a=[1,2,3,4,5,6,7,7]
a[len(a)//2]

5

In [13]:
#was to concat the new string into the starting of the string
a='hii'
b='hello'
a=b+a
print(a)

hellohii

In [14]:
#was to concat the new string into the ending of the string
a='hii'
b='are doing good'
a=a+b
print(a)

hiiare doing good

In [27]:
#was to concat the new string into the middle of the string
a='hii bro whats up'
print(a[0:4]+'raa'+a[8:16])

hii raawhats up

In [34]:
#was to modify the new characterr in the middle of the string
b='hii how are you man'
print(b[0:(len(b)//2)]+'N'+b[(len(b)//2)+1:])

hii how aNe you man

In [30]:
#was to modify the new chazracter in given string
c='vvit clg'
print(c[0:4]+'my'+c[6:])

vvitmylg

In [31]:
#was to replace the old character into anew character of the given string
d='reedy'
print(d[0:2]+'d'+d[3:])

reddy

In [33]:
#was to delete the specific character in given string
e='Athaddu'
print(e[0:5]+e[6:])

Athadu

In [36]:
#was to modify the new string into the specific position of given string
f='business is the super movie'
print(f[0:9]+'man'+f[8:])

business man is the super movie

In [38]:
#was to delete the sequence of characters
g='guntur karam is will be the blockbuster'
print(g[0:12]+g[15:])

guntur karam will be the blockbuster

In [41]:
#was to concat the new value to the starting of the gien list
h=[100,200,300]
h=[400,500]+h
print(h)
i=[1,2,3,4,5]
i[0:0]=['a','b','c']
print(i)

[400, 500, 100, 200, 300]
['a', 'b', 'c', 1, 2, 3, 4, 5]

In [42]:
#was to concat the new value to the ending of the gien list
j=[10,20,30]
j=j+[40,50,60]
print(j)
k=['abc','ghij']
k+=['uvw','xyz']
print(k)

[10, 20, 30, 40, 50, 60]
['abc', 'ghij', 'uvw', 'xyz']

In [56]:
#was to concat the new value to the middle of the gien list
l=[1,2,3,4,5]
l[len(l)//2:len(l)//2]=[100]
print(l)

[1, 2, 100, 3, 4, 5]

In [62]:
#was to concat the new value to the specific position of the gien list
m=[10,20,'a','b']
m[-2:2]=[55]
print(m)

[10, 20, 55, 'a', 'b']

In [63]:
#was to modify the new value to the specifc position of the gien list
n=[1,20,300,'a']
n[2]={'a':10}
print(n)

[1, 20, {'a': 10}, 'a']

In [65]:
#was to modify the new value to the starting of the gien list
o=[1,2,3,4,5]
o[0]='b'
print(o)

['b', 2, 3, 4, 5]

In [75]:
#was to modify the new value to the ending of the gien list
p=['a',{'b':15},10,5]
p[-1]='5+j'
print(p)

['a', {'b': 15}, 10, '5+j']

In [76]:
#was to modify the middle value to the starting of the gien list
q=[1,2.5,5+2j,True,'abc',100]
q[len(q)//2]={10:30}
print(q)

[1, 2.5, (5+2j), {10: 30}, 'abc', 100]

In [77]:
#was to modify the first 4 position values to the starting of the gien list
r=[1,2,3,4,5,5]
r[0:5]=['a',10.14,100]
print(r)

['a', 10.14, 100, 5]

In [78]:
#was to modify the sequence of values  in the gien list
s=[1,2,3,4,5,6,7,8]
s[2:5]=['a','d','r','e']
print(s)

[1, 2, 'a', 'd', 'r', 'e', 6, 7, 8]